*{
    list-style: none;
}

.nav{
    display: flex;
    align-items: center;
    background-color: rgb(22, 22, 67);
    color: white;
    padding: 10px;
}
.navLogo{
    width: 20%;
}
.navLogo img{
    width: 80px;
}
.navMenu{
    width: 70%;
}
.navMenu ul{
    display: flex;
    justify-content: space-evenly;
}
li.cart-icon {
    font-size: 30px;
}
.authenticBtn{
    width: 10%;
    display: flex;
}

.authenticBtn button{
    margin: 0 10px;
}

.products{
    display: flex;
    margin: 0 60px;
    flex-wrap: wrap;
}

.products img{
    width: 250px;
    height: 250px;
    object-fit: cover;
 
}
.product-1{
    padding: 5px 20px;
    width: 265px;
}
.product-1 img{
    width: 250px;
}